<div class="contenedor">
    <img src="assets/img/contact.jpg" width="100%" height="200px" alt="contactenos">
    <div class="centrado">CONTACTENOS</div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nombre">
                </div>
                <div class="form-group">
                    <label for="email">Correo Electronico</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div class="col-6">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.2800151687002!2d-72.39816742534992!3d5.3434154168805215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6b0db1685ba059%3A0xb9fa82395e6b3bf!2sDistribuidora%20Matelcon!5e0!3m2!1ses-419!2sco!4v1596915551026!5m2!1ses-419!2sco"
                    width="100%" height="250px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div>
                <p class="font-weight-bold ">Ubicacion Matelcon</p>
                <p>Cll 14 # 20 - 02</p>
                <p>Yopal - Casanare</p>
                <p>Telefonos: 6355555</p>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <div class="mb-2">Visita nuestras redes sociales</div>
        <a href=""><img src="assets/img/facebook96.png" width="64px" alt="facebook" class="mr-3"></a>
        <a href=""><img src="assets/img/instagram96.png" width="64px" alt="instagram" class="mr-3"></a>
        <a href=""><img src="assets/img/twitter96.png" width="64px" alt="twitter" class="mr-3"></a>
        <a href=""><img src="assets/img/youtube96.png" width="64px" alt="youtube" class="mr-3"></a>
    </div>
</div>